html, body {
  font-family: 'Roboto', 'Noto Sans JP', 'Hiragino Kaku Gothic', 'Meiryo', sans-serif;
}
* {
  -webkit-tap-highlight-color: transparent;
}
html {
  &[lang="ja"] {
    .en {
      display: none;
    }
  }
  &[lang="en"] {
    .ja {
      display: none;
    }
  }
}
input[type="checkbox"], input[type="radio"] {
  display: none;
}

dialog::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
}

body {
  width: 100%;
  height: 100%;
  
  @supports ( height: 100dvh ) {
    height: 100dvh;
    padding-bottom: 0;
  }
  max-height: 100%;
  overflow: hidden;
  background-color: var(--theme-background);
  display: flex;
  justify-content: center;
  touch-action: none;
  color: var(--theme-text);
  user-select: none;
}
.kakizome--main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 56px;
  max-width: 1024px;
  .kakizome--kakizome_area {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .kakizome--history--controller {
      position: fixed;
      top: 0;
      height: 56px;
      display: flex;
      gap: 18px;
      align-items: center;
      z-index: 999;
      opacity: 1;
      transition: opacity 150ms;
      &[data-hide="hide"] {
        opacity: 0;
      }
      .kakizome--history--controller--button {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: var(--theme-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
        transition: scale 150ms;
        &:disabled {
          background-color: rgb(200, 200, 200);
        }
        &:active:not(:disabled) {
          scale: 1.2;
        }
      }
    }
    .kakizome--canvas {
      display: flex;
      align-self: flex-start;
      margin: auto;
      background-color: white;
      scale: var(--scale);
      transform-origin: 0 0;
      background-size: 100% 100%;
      background-blend-mode: color;
      object-fit: contain;
      &[data-size="hanshi"] {
        background-image: url(../assets/shitajiki_hanshi.png);
        background-color: rgba(255,255,255,.33);
      }
      &[data-size="saitama"] { 
        background-image: url(../assets/shitajiki_saitama.png);
        background-color: rgba(255,255,255,.33);
      }
      &[data-size="16-9"] { 
        background-image: url(../assets/shitajiki_16-9.png);
        background-color: rgba(255,255,255,.33);
      }
      &.full-mode {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .kakizome--footer {
    position: sticky;
    bottom: 0;
    display: flex;
    box-shadow: var(--shadow);
    background-color: var(--theme-primary);
    color: var(--theme-on-primary);
    border-radius: 8px 8px 0 0;
    padding: 4px 8px;
    overflow: hidden;
    .kakizome--footer--item {
      flex: 1;
      display: flex;
      position: relative;
      .kakizome--footer--button {
        width: 100%;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 4px;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          background-color: rgba(255,255,255,.33);
          opacity: 0;
          scale: 1;
          transition: opacity 150ms, scale 150ms;
        }
        &:active {
          &::before {
            opacity: 1;
            scale: 1.125;
          }
        }
        .kakizome--footer--button--text {
          font-size: .75rem;
        }
      }
      .kakizome--footer--item--content {
        position: absolute;
        width: 256px;
        bottom: 56px;
      }
    }
  }
  .kakizome--dialog { 
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-rows: 56px 1fr;
    max-height: 100vh;
    height: 100%;
    @supports ( height: 100dvh ) {
      max-height: 100dvh;
      height: 100dvh;
    }
    background-color: var(--theme-background);
    border: none;
    box-shadow: var(--shadow);
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% + 8px);
    opacity: 0;
    scale: .975;
    pointer-events: none;
    color: var(--theme-text);
    .kakizome--dialog--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--theme-text);
      .kakizome--dialog--header--primary {
        .kakizome--dialog--header--primary--text {
          font-size: 1.225rem;
          padding-left: 16px;
        }
      }
      .kakizome--dialog--header--button {
        width: 56px;
        height: 56px;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    }
    .kakizome--dialog--content {
      overflow-y: auto;
    }
    &::backdrop {
      background-color: rgba(0,0,0,.5);
      display: block;
      opacity: 0;
      transition: opacity 150ms;
    }
    &[open], &[data-open="open"] {
      scale: 1;
      opacity: 1;
      translate: -50% -50%;
      transition: translate 150ms, scale 150ms, opacity 150ms;
      pointer-events: initial;
      &::backdrop {
        opacity: 1;
      }
    }
    &.dialog--closing {
      opacity: 0;
      scale: .975;
      translate: -50% calc(-50% + 8px);
      &::backdrop {
        opacity: 0;
      }
    }

  }
  .kakizome--setting--section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    .kakizome--setting--section--title {
      margin-bottom: 16px;
    }
    .kakizome--setting--section--item--wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .kakizome--setting--section--item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .kakizome--range {
          appearance: none;
          background-color: var(--theme-primary);
          height: 8px;
          border: 1px solid var(--theme-text);
          border-radius: 4px;
          &::-webkit-slider-runnable-track {
            appearance: none;
          }
          &::-webkit-slider-thumb {
            appearance: none;
            content: attr(value);
            width: 24px;
            height: 24px;
            border-radius: 12px;
            border: 1px solid var(--theme-text);
            background-color: var(--theme-primary);
            transition: scale 150ms;
          }
          &:hover {
            &::-webkit-slider-thumb {
              scale: 2;
            }
          }
        }
        label {
          padding: 16px;
          border-radius: 16px;
          display: flex;
          align-items: center;
          position: relative;
          border: 2px solid rgba(255, 255, 255, 0.25);
          figure {
            width: 72px;
            img { 
              width: 100%;
            }
          }
          &::before {
            content: "";
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            border-radius: 12px;
            position: absolute;
            top: 2px;
            left: 2px;
            background-color: var(--theme-primary);
            opacity: 0;
            transition: opacity 150ms;
            z-index: -1;
          }
        }
        [type="checkbox"] ~ label {
          &::after {
            content: "";
            background-image: url(../assets/toggle_on_white_24dp.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 16px;
            rotate: 180deg;
          }
        }
        *:checked ~ label {
          border: 2px solid var(--theme-primary);
          &::before {
            opacity: 1;
          }
          &::after {
            rotate: 0deg;
          }
        }
      }
      &.kakizome--setting--section--item--wrapper--row {
        flex-direction: row;
        .kakizome--setting--section--item {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 0%;
          height: 100%;
          label {
            flex-direction: column;
          }
        }
      }
    }
    h1, h2, h3, h4, h5, h6, p {
      margin-bottom: 16px;
      user-select: auto;
    }
  }
}
#canvas-mode {
  ~ .kakizome--main {
    *[data-mode="draw"] {
      display: none;
    }
  }
  &:checked ~ .kakizome--main {
  .kakizome--kakizome_area {
    overflow: hidden;
  }
  *[data-mode="touch"] {
    display: none;
  }
  *[data-mode="draw"] {
    display: initial;
  }
}
}
:root {
  --theme-background: #464646;
  --theme-text: rgba(255,255,255,.8);;
  --theme-primary: rgb(93, 0, 0);
  --theme-primary-alpha: rgba(93, 0, 0, 0.8);
  --theme-on-primary: #fff;
  --shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}